# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Tests / outils
.pytest_cache/
.coverage
htmlcov/
.tox/
.venv/
venv/

# Exports générés
*.xlsx

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
